<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bryan.sync-obsidian-backup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/bryan/bin/scripts/scheduled/sync-obsidian-backup.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>StandardErrorPath</key>
	<string>/tmp/sync-obsidian-backup.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/sync-obsidian-backup.out</string>
</dict>
</plist>
